.git
.gitignore
.idea
.vscode

**/.env
**/.env.*
!**/.env.example

**/node_modules
**/.next
**/out
**/dist
**/coverage
**/.turbo
**/*.tsbuildinfo

**/target
packages/backend/target
packages/backend/target/**
packages/front/node_modules
packages/front/node_modules/**
packages/front/.next
packages/front/.next/**
packages/front/out
packages/front/out/**

*.log
Dockerfile
docker-compose*.yml
